.modal {
  display: none;
}

.modal.show {
  display: flex;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 350px;
}

.modal-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.modal-body input,
.modal-body select {
  width: 100%;
  margin-bottom: 8px;
  padding: 8px;
}

.puestos select {
  margin-bottom: 6px;
}

.acciones {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.btn-primary {
  background: green;
  color: white;
  padding: 8px;
}

.btn-sec {
  background: #444;
  color: white;
}

.btn-danger {
  background: red;
  color: white;
}
